.mat-card {
background-color: lightslategray;
display: block;
color: white;
}

.mat-card-title {
    font-size: 12px;
    display: table-caption;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    margin: -10px;
}

.test img {
    height: 100px;
    min-height: 100%;
    margin-bottom: 0px;
}


.title {
    justify-content: center;
}

.test2 {
    margin: -16px;
}