<div class='dialogTitle'  class="mat-elevation-z4"> <h2 >{{data.name || data.title}}</h2></div>
<mat-dialog-content class="mat-elevation-z4"  [ngClass]='type'>
  <ul *ngFor='let key of objectKeys(data)'>
    <li><span>{{key}}:</span>
      <span *ngIf='!isArray(data[key]); else next'>{{data[key]}}</span>
      <ng-template #next>
        <ol *ngFor='let subitem of data[key]' (click)='navigate(subitem)'><a href=""> {{subitem}}</a></ol>
      </ng-template>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
 <button mat-button [mat-dialog-close]='true'>Ok</button>
</mat-dialog-actions>