.dialogTitle {
    display: flex;
    justify-content: center
}

.films {
    background-color: #a195a1;
}

.starships {
    background-color: rgb(241, 241, 224);
}

.vehicles {
    background-color: rgb(127, 206, 209);
}