<div class="main">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav"
        mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-tabs [tabs]='tabsConfig' (tabChange)='getActiveTap($event)'></app-tabs>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side"  role="navigation">
      <div>
        <mat-nav-list>
          <app-film-list *ngIf='activeTab == 0' [films]='films' (onClickFilm)='onSelectFilm($event)'></app-film-list>
          <app-starship-list *ngIf='activeTab == 1' [starShips]='starShips'></app-starship-list>
          <app-vehicle-list *ngIf='activeTab == 2' [vehicles]='vehicles'></app-vehicle-list><!--only for demostration ngIf use-->
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content >
      <app-people-list *ngIf='activeTab == 0' [peoples]='actorsData' (onClickActor)='openModal($event)'></app-people-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
