
.mat-sidenav-container {
 height: 90vh;
 width: 100vw;
 background-color: gray;
}

.mat-sidenav {
    background-color: gray;
    width: 10em;
    color: red;
}
.mat-nav-list {
    padding: 4px;
}

.mat-nav-list:last-child {
    margin-bottom: 30px; 
}