
.mat-sidenav-container {
 height: 90vh;
 width: 100vw;
 background-color: gray;
}

.mat-sidenav {
    background-color: dimgray;
    width: 13em;
}
.mat-nav-list {
    padding: 4px;
}

.mat-nav-list:last-child {
    margin-bottom: 30px; 
}

.mat-toolbar-row {
    /*justify-content: center;*/
    background-color: rgba(14, 9, 9, 0.6);
}
