<div class="main">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav"
        mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="openModal()"
       color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <!-- <span><img src="./assets/devglan.png"/></span> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side"  role="navigation">
      <div>
        <mat-nav-list>
          <app-film-list (onClickFilm)='onSelectFilm($event)'></app-film-list>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <router-outlet></router-outlet>  -->
      <app-people-list [peoples] = 'actorsData'></app-people-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
