
.mat-sidenav-container {
 height: 90vh;
 width: 100vw;
 background-color: gray;
}

.mat-sidenav {
    background-color: dimgray;
    width: 13em;
}
.mat-nav-list {
    padding: 4px;
}

.mat-nav-list:last-child {
    margin-bottom: 30px; 
}

.mat-toolbar-row {
    /*justify-content: center;*/
    background-color: chocolate;
    color: mintcream;
    font-style: oblique;
    font-weight: bold;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}


