.mat-card {
    background-color: dimgray;
    display: block;
    color: white;
    margin: 8px;
    }
    
    .mat-card-title {
        font-size: 12px;
    }
     .contentImg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 132px;
        margin: -10px;
    }
    
    .contentImg img {
        height: 100px;
        min-height: 100%;
        margin-bottom: 0px;
    }
     
    
    .title {
        justify-content: center;
    }
    